body
{
  background-color: black;
  color: white;
  font-size: 1rem;
  margin: 0;

  font-family: 'Montserrat Alternates', sans-serif;
  
  transition: background .3s cubic-bezier(.44,.01,.23,.99);
  text-align: center;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  display: flex;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
.center-children
{
  text-align: center;
}


.not-selectable
{
  -webkit-touch-callout: none; /*iOS Safari*/
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}





.title
{
  margin: 0em;
  display: inline-block;
  font-size: 10vmax;
  cursor: pointer;
}





.loop-icon-container
{
  width: 4.3vmax;
}
.loop-icon
{
  margin: 0;
  padding: 0;
}

.hover-transform
{
  transition:
  all .7s cubic-bezier(.02,.51,.02,.99),
  color .5s cubic-bezier(.02,.51,.02,.99),
  fill .5s cubic-bezier(.02,.51,.02,.99);
}
.hover-transform:hover
{
  transform: scale(1.1);

}


/* ----------------- QUERIES ----------------- */

@media only screen and (max-width: 600px) 
{
  body, html {
    height: 100%;
    display: grid;
  }
  div
  { 
    margin: auto;
  }
  
  .title
  {
    font-size: 10vmax;
  }
  .loop-icon-container
  {
    width:10vmax;
  }
}
