
body
{
  background-color: black;
  color: white;
  font-size: 1rem;
  margin: 0;

  font-family: 'Montserrat Alternates', sans-serif;
  
  transition: background .3s cubic-bezier(.44,.01,.23,.99);
  text-align: center;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App-link {
  color: #61dafb;
}


.not-selectable
{
  -webkit-touch-callout: none; /*iOS Safari*/
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}





.title
{
  /* margin-top: 0.3em; */
  display: inline-block;
  font-size: 5vmax;
  /* color: #555; */
  cursor: pointer;


  transition:
  all .7s cubic-bezier(.02,.51,.02,.99),
  color .5s,

}

.title:hover
{
  transform: scale(1.1);
}





.btnPlus
{
  outline: none;
  display: inline-block;
  padding: 0;
  
  width: 3.5vmax;
  height: 2.5vmax;
  font-size: 2vmax;

  background: #fff;

  text-decoration: none;

  position: static;
  right: 0;

  border: 0px;
  border-radius: 200px;

  font-family: "montserrat";

  transition:
  all 0.3s cubic-bezier(.02,.51,.02,.99),
  color .5s,
  background .5s;
}

.btnPlus:hover
{
  transform: scale(1.3);
}