.color-view
{
    width: 5vmax;
    height: 2vmax;
    border-radius: 100vmax;
    border: 2px solid;
    margin: 1vmax;
    /* TODO Fix not aligning at center */
    display: inline-block;
}
.color-view div
{
    width: 3vmax;
    height: .5vmax;
    border-radius: 2vmax;
    margin: auto;
}

.color-view:hover
{
    transform: scale(1.5)
}